### 튜플(tuple): 불변형(immutable), 시퀀스형, ( ) : 소괄호사용, 중복허용

In [1]:
a = (1,2,3,4,5,6)
print(a,type(a)) # <class 'tuple'>

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [2]:
# 인덱싱
print(a[0],a[1],a[2],a[-1],a[-2],a[True],a[False])

# a[0]  = 10  # TypeError , 불변형으로 요소 변경 불가

1 2 3 6 5 2 1

In [3]:
b = list(a) # 형 변환
b[0] = 10
b = tuple(b)
print(b)

(10, 2, 3, 4, 5, 6)

In [4]:
# 슬라이싱
print(a[:])
print(a[::2])
print(a[::-1])  # 순서를 거꾸로 변경

# a[0:3] = (10,20,30) # TypeError , 불변형으로 요소 변경 불가

(1, 2, 3, 4, 5, 6)
(1, 3, 5)
(6, 5, 4, 3, 2, 1)

In [5]:
# 패킹(packing), 언패킹 튜플
t = 1,2,'hello'  # 튜플은 괄호를 생략할수 있다, 쉼표로 데이터가 구분된다, 패킹
print(t,type(t))
x,y,z = t        # 언패킹
print(x,y,z,type(x),type(y),type(z))

(1, 2, 'hello') <class 'tuple'>
1 2 hello <class 'int'> <class 'int'> <class 'str'>

In [6]:
a,_,c,_ = 10,20,30,40  # 언패킹
print(a,c)

10 30

In [7]:
t = (1,2,3,4,5,6)
# a,b = t  # ValueError
a,b,_,_,_,_ = t   # 언패킹될 요소의 갯수와 변수의 갯수를 일치시켜야한다,
                  # '_':사용하지 않을 요소를 위한 변수
print(a,b)

1 2

In [8]:
# 확장된 언패킹
t = (1,2,3,4,5,6)
a,*b = t
print(a)   # 첫번째 요소
print(b)   # 나머지 요소를 모두 리스트로 할당

*a,b = t
print(a)   # 나머지 요소를 모두 리스트로 할당
print(b)   # 마지막 요소

a,b,*c = t
print(a,b,c)

a,*b,c = t
print(a,b,c)

# a,*b,*c = t  # SyntaxError

1
[2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
6
1 2 [3, 4, 5, 6]
1 [2, 3, 4, 5] 6

In [16]:
# 리스트와 문자열도 언패킹과 확장 언패킹
a,b = [1,2]
print(a,b)

a,b = 'hi'
print(a,b)

a,*b = 'hello'
print(a)
print(b)   # 나머지 요소를 모두 리스트로 할당

1 2
h i
h
['e', 'l', 'l', 'o']

In [22]:
t = ()        # 빈 튜플
t = []        # 빈 리스트

t = (10)
print(type(t)) # <class 'int'>

t = 10
print(type(t)) # <class 'int'>

t = (10,)
print(type(t)) # <class 'tuple'>

t = 10,
print(type(t)) # <class 'tuple'>

t = [10]
print(type(t)) # <class 'list'>

<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'list'>

In [26]:
# 두 개의 값을 서로 변경하는 코드
#  x : 1, y : 2

# (1) 전통 언어 방식
x = 1
y = 2
temp = x
x = y
y = temp
print(x,y)

# (2) 파이썬 방식(튜플의 언패킹 사용)
x,y = 1,2
x,y = y,x
print(x,y)

2 1
5 3

In [32]:
# 연산자
t1 = (1,2,3)
t2 = ('apple','banana')
t3 = t1 + t2
print(t3)

t3 = t1.__add__(t2)
print(t3)

t4 = t3*3
print(t4)

print(sum(t1))
print(len(t1))

(1, 2, 3, 'apple', 'banana')
(1, 2, 3, 'apple', 'banana')
(1, 2, 3, 'apple', 'banana', 1, 2, 3, 'apple', 'banana', 1, 2, 3, 'apple', 'banana')
6
3

In [34]:
t = (1,2,3,4,2,2,3)
print(t.count(2))  # 요소 2의 갯수

3

In [36]:
print(t.index(2))   # 요소 2 가 처음 나오는 위치(인덱스)를 반환
print(t.index(2,3)) # 요소 2 를 인덱스 3부터 나오는 위치(인덱스)를 반환

1
4

In [38]:
# del t[0]  # TypeError, 불변형이므로 요소 삭제 불가

In [60]:
a,b,c = range(3)  # 언패킹
print(a,b,c)    

a,*b,c = range(10)  # 확장 언패킹
print(a,b,c)  

Sun,Mon,Tue,Wed,Thu,Fri,Sat = range(1,8)
print(Sun,Sat)

globals()['Sun'] # 파이썬 내부의 할당된 객체의 key와 value를 dict형으로 출력

0 1 2
0 [1, 2, 3, 4, 5, 6, 7, 8] 9
1 7

1